body {
    color: #333;
}

.container {
    margin: auto;
    width: 720px;
}

.main-menu {
    background-color: #333;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 5px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.main-menu ul {
    list-style: none;
    padding-left: 0;
}
.main-menu li {
    float: left;
    width: 70px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.main-menu {
    color: #bbb;
    font-size: 90%;
}
.main-menu a:visited,
.main-menu a:link {
    color: #ddd;
    text-decoration: none;
}
.main-menu a:hover,
.main-menu li:hover {
    color: #fff;
    background-color: #2580a2;
}

.search-header {
/*    border-top: 1px solid #ccc; */
    padding-top: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.search-form .left {
    margin-left: 40px;
    float: left;
}
.search-form .right {
    margin-right: 40px;
    margin-top: 36px;
    float: right;
}
.clear {
    clear: both;
}

.search-form {
    text-align: center;
    margin: auto;
}

.search-navigator{
    text-align: center;
}
.calendar-navigator span,
.search-navigator span {
    padding: 6px;
    border: 1px solid #eee;
    background-color: #fafafa;
    font-size: 90%;
}
.calendar-navigator a:link,
.search-navigator a:link {
    text-decoration: none;
}
.search-navigator-info {
    margin-top: 5px;
    color: #aaa;
    font-size: 10px;
}

.search-form * {
    vertical-align: middle;
}

input[type="text"] {
    border: 1px solid #999;
    font-size: 18px;
    width: 260px;
    background-color: #fafafa;
}
input[type="submit"] {
    font-size: 18px;
}

.search-result {
    margin: 20px;
    margin-top: 0px;
    overflow: hidden;
}

.show-container .info,
.search-result .info{
    font-size: 10px;
}

.result-item {
    margin: 20px;
}

.result-item .title a {
    background-image: url("../images/page_text.gif");
    background-repeat: no-repeat;
    padding-left: 20px;
}

pre,
.result-item pre {
    border: 1px solid #ddd;
    padding: 5px;
    margin: 0;
    overflow: hidden;
    background-color: #fbfbfb;
    background: -moz-linear-gradient(top, #fefefe 41%, #fbfbfb 100%);
    background: -o-linear-gradient(top, #fefefe 41%, #fbfbfb 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.41, #fefefe),color-stop(1, #fbfbfb));
}

.result-item:first {
    margin-top: 0px;
}

.show-container {
    padding: 40px;
    padding-top: 10px;
}
.show-container h2 {
    margin-bottom: 0px;
    font-size: 100%;
    color: #444;
    float: left;
    width: 65%;
}
.download-container {
    text-align: right;
    float: right;
    width: 35%;
    padding-top: 13px;
}

.footer {
    margin-top: 40px;
    border-top: 1px solid #ccc;
    color: #999;
    text-align: center;
    font-size: 80%;
}

a {
    color: #0044cc;
    font-style: normal;
    text-decoration: underline;
}

a:link {
    color: #0044cc;
    font-style: normal;
    text-decoration: underline;
}

a:visited {
    color: #002882;
    text-decoration: underline;
}

a:hover {
    color: #0044cc;
    font-style: normal;
    text-decoration: underline;
}

a:active {
    text-decoration: none;
}

img {
    border: none;
}

.month-title h2 {
    margin-bottom: 5px;
    font-size: 100%;
    color: #444;
    width: 65%;
}
.month-title {
    margin-right: 40px;
    margin-left: 40px;
}
.calendar {
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 90%;
    border: 1px solid #cecece;
    border-collapse: collapse;
    border-spacing: 0;
    width: 640px;
}
.calendar td {
    border-bottom: 1px solid #ccc;
    padding: 3px;
}
.calendar .odd {
    background-color: #fbfbfb;
}
.calendar .day {
    text-align: right;
    width: 25px;
}
.calendar .dayname {
    border-right: 1px solid #ccc;
    color: #777;
    width: 40px;
}
.sun .dayname {
    color: #ffb6c1;
}
.sat .dayname {
    color: #87ceeb;
}

.calendar-navigator {
    margin-left: 40px;
    margin-right: 40px;
}
.prev-month {
    float: left;
}
.next-month {
    float: right;
}

