./lib/
lib_managed/
target/
project/build/target
project/boot
project/plugins/src_managed
project/plugins/project
index/
git/
.idea
*.iml
**/*.iml
files/
.ensime
*~
\#*\#
.DS_Store
*.swp
*.log
index_status.json
test-git/
test-index/
